---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SectionIntro from "../components/SectionIntro.astro";
---

<Layout title="انقلاب مردمی ایران">
  <SectionIntro>
    <p>
      در مهر ۱۴۰۱ انقلابی در مردم ایران شکل گرفت، انقلابی از مردم برای مردم.
      مردم ایران دیگر انقلاب‌اسلامی را نمی‌خواهند و دنبال شکل‌گیری موفقیت‌آمیز
      حکومتی مردمی هستند.
    </p>
  </SectionIntro>
  <ul role="list" class="link-card-grid">
    <Card
      href="/under-construction"
      title="منطق انقلاب"
      body="استدلال و تفکر مردم ایران در مورد لزوم انقلاب."
    />
    <Card
      href="/under-construction"
      title="ایرانِ آینده"
      body="ترسیم تصویری از آینده‌ی ایران و ساختار حکومتی مطلوب."
    />
    <Card
      href="/participation"
      title="مشارکت در انقلاب"
      body="فعالیت‌های ساده و بی‌خطر برای تسریع در پیروزی انقلاب."
    />
    <Card
      href="/under-construction"
      title="آمار و گزارش"
      body="آمار و گزارش‌های مشارکت و انگیزه‌ی مردم برای انقلاب."
    />
    <Card
      href="/under-construction"
      title="کارگروه انقلاب"
      body="با فعالین و گروه‌های تشکیل شده برای انقلاب آشنا شوید."
    />
    <Card
      href="/under-construction"
      title="اسناد انقلاب"
      body="قراردادهای امضاء شده بین فعالین شناخته شده‌ی انقلاب"
    />
    <Card
      href="/under-construction"
      title="اطلاع‌رسانی"
      body="حتی در زمان قطع اینترنت از اخبار‌های انقلابی با‌خبر شوید."
    />
  </ul>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: linear-gradient(
      171deg,
      rgba(23, 141, 10, 1) 0%,
      rgba(212, 175, 55, 1) 50%,
      rgba(184, 18, 18, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
