---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SectionIntro from "../components/SectionIntro.astro";
---

<Layout title="انقلاب مردمی ایران">
  <SectionIntro>
    <p>
      در مهر ۱۴۰۱ انقلابی در مردم ایران شکل گرفت، انقلابی از مردم برای مردم.
      مردم ایران دیگر انقلاب‌اسلامی را نمی‌خواهند و دنبال شکل‌گیری موفقیت‌آمیز
      حکومتی مردمی هستند.
    </p>
  </SectionIntro>
  <ul role="list" class="link-card-grid">
    <Card
      href="/logic"
      title="منطق انقلاب"
      body="چرا انقلاب امری منطقی است و از روی احساسات نیست."
    />
    <Card
      href="/under-construction"
      title="ایرانِ آینده"
      body="ترسیم تصویری از آینده‌ی ایران و ساختار حکومتی مطلوب."
    />
    <Card
      href="/participation"
      title="مشارکت در انقلاب"
      body="فعالیت‌های ساده و بی‌خطر برای تسریع در پیروزی انقلاب."
    />
    <Card
      href="/under-construction"
      title="آمار و گزارش"
      body="آمار و گزارش‌های مشارکت و انگیزه‌ی مردم برای انقلاب."
    />
    <Card
      href="/under-construction"
      title="کارگروه انقلاب"
      body="با فعالین و گروه‌های تشکیل شده برای انقلاب آشنا شوید."
    />
    <Card
      href="/under-construction"
      title="اسناد انقلاب"
      body="قراردادهای امضاء شده بین فعالین شناخته شده‌ی انقلاب"
    />
    <Card
      href="/under-construction"
      title="اطلاع‌رسانی"
      body="حتی در زمان قطع اینترنت از اخبار‌های انقلابی با‌خبر شوید."
    />
  </ul>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
