---
export interface Props {
  h2?: string;
}

const { h2 } = Astro.props;
---

{
  h2 && (
    <a class="mt-4 mb-2 block hover:text-flag-gold text-left" href="/">
      &larr; برای رفتن به بخش‌های دیگر سایت، اینجا کلیک کنید.
    </a>
  )
}
<div
  class:list={[
    "bg-white py-3 px-4 rounded-md border-solid border border-flag-gold",
    { "mb-4": h2 === undefined },
  ]}
>
  {h2 && <h2 class="text-2xl font-medium mt-1">{h2}</h2>}
  <div class:list={{ "mt-3": h2 !== undefined }}>
    <slot />
  </div>
</div>
