---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import "../styles/base.css";
---

<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="mt-6 flex justify-center items-center">
      <a href="/">
        <h1 class="text-3xl font-medium">
          <span style="color: rgb(var(--flag-green))">انقلاب</span>
          <span style="color: rgb(var(--flag-gold))">مَردُمی</span>
          <span style="color: rgb(var(--flag-red))">ایران</span>
        </h1>
      </a>
    </header>
    <main class="max-w-screen-md m-auto py-4 px-2">
      <slot />
    </main>
  </body>
</html>
